/**
 * Screen
 */

@import '../variables';

.screen {
	background: map-get($colours, 'white');
	height: 100%;
	width: 100%;
	padding: 0 20px 20px;

	&--trim {
		padding-left: 0;
		padding-right: 0;
	}

	&--full {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
